body {
    font-family: sans-serif;
}

.header {
    font-size: 5em;
    text-align: center;
}

.pokemon-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    transition: transform 0.5s;
    text-align: center;
}

.pokemon-card:hover {
    transform:scale(1.01);
    border: 2px solid dodgerblue;
    cursor: pointer;
}

.pokemon-card > img {
    height: 300px;
    width: 300px;
}

/* how come when you write text-align on >img .. img doesnt go to center
but if you put it in the first it does go to center */

#container {
    display: flex;
    justify-content: center;
    gap: 1%;
}

#roster {
    display: flex;
    justify-content: center;
}

div[id^="pokemon-"] {
    height: 100px;
    width: 100px;
    border: 1px solid #ccc;

}

